<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>-->
    <application
        android:name=".DowntimeGuard"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DowntimeGuard"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".ui.theme.Dashboard"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_dashboard"-->
<!--            android:theme="@style/Theme.DowntimeGuard" />-->
        <activity
            android:name=".ui.theme.MainScreen"
            android:exported="false"
            android:label="@string/title_activity_front_page"
            android:theme="@style/Theme.DowntimeGuard" />
<!--        <activity-->
<!--            android:name=".LayoutCompose"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_layout_compose"-->
<!--            android:theme="@style/Theme.DowntimeGuard" />-->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DowntimeGuard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--            this is a background service-->
        <service
            android:name=".services.AppTrackerServices"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/app_tracker_label"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/app_tracker_accessibility_service"/>

        </service>
    </application>

</manifest>